#contact {
    background: url("../img/gaikuang-bj.jpg") no-repeat center center;
    background-size: 100% auto;
}
#contact >a{
    position: absolute;
}
#contact >a img{
    width:100%
}
#contact >a.one{
    width:4.5rem;
    left:.8rem;
    top:2rem;
}
#contact >a.two{
    width:3rem;
    left:2.6rem;
    top:3.94rem;
}
.drop{
    -webkit-transform: translatey(-400%);
    -moz-transform: translatey(-400%);
    -ms-transform: translatey(-400%);
    -o-transform: translatey(-400%);
    transform: translatey(-400%);
}

#contact .line.a{
    position: absolute;
    left:1.5rem;
    top:2.8rem;
    width:20px;
    height:4rem;
    border-left: 2px dashed rgba(255,243,174,1);
}
#contact .address.a{
    position: absolute;
    left:1.39rem;
    top:6.8rem;
    width:.24rem;
    height:.24rem;
    border-radius: 100%;
    background: linear-gradient(180deg, #fff7b2 , #ffcf6d);
}
#contact .line.b{
    position: absolute;
    left:5.2rem;
    top:5.53rem;
    width:20px;
    height:3rem;
    border-left: 2px dashed rgba(255,243,174,1);
}
#contact .address.b{
    position: absolute;
    left:5.08rem;
    top:8.5rem;
    width:.24rem;
    height:.24rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #fff7b2 , #ffcf6d);
}

#contact .address{
    -webkit-animation:shark 2s ease infinite both;
    -o-animation:shark 2s ease infinite both;
    animation:shark 2s ease infinite both;
}
@keyframes shark {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        -moz-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0)
    }
}
@-webkit-keyframes shark {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        -moz-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0)
    }
}
@-moz-keyframes shark {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        -moz-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0)
    }
}
@-o-keyframes shark {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 224, 139, 0.8), 0 0 0 0 rgba(255, 224, 139, 0.4);
    }

    100% {
        -webkit-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        -moz-box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0);
        box-shadow: 0 0 0 .1rem rgba(255, 224, 139, 0), 0 0 0 .2rem rgba(255, 224, 139, 0)
    }
}