@import "base";
@include userem(640px);
.body {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease-in;
}
.body.move {
    transform: translateX(-50%);
}
.list {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    position: fixed;
    z-index: 999;
    left: 100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: #424242;
    li {
        height: 1rem;
        border-bottom: 2px solid #fff;
        a {
            display: block;
            height: 100%;
            line-height: 1rem;
            color: #fff;
            font-size: .3rem;
            text-align: center;
            &:active {
                color: #f48137;
            }
        }
        div {
            width: 50%;
            height: .40rem;
            margin-top: .3rem;
            float: left;
            &:first-child {
                border-right: 2px solid #fff;
            }
            a {
                display: block;
                height: 100%;
                line-height: .4rem;
                color: #fff;
                font-size: .3rem;
                text-align: center;
                &:active {
                    color: #f48137;
                }
            }
        }
    }
}
.list.show {
    transform: translateX(-100%);
}
.title {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px solid #4ec443;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    .logo {
        width: 2.78rem;
        height: 0.6rem;
        @include shangxia;
        left: 0.24rem;
        img {
            width: 100%;
            height: 100%
        }
    }
    .return {
        width: .42rem;
        height: 0.36rem;
        @include shangxia;
        right: .6rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
#banner {
    height: 3rem;
    background: #eee;
    padding-top: 1rem;
    a {
        display: block;
        height: 100%;
        img {
            width: 100%;
            height: 2rem;
        }
    }
}
.news {
    padding-top: .3rem;
    h1 {
        width: 50%;
        transform: translateX(.24rem);
        height: .3rem;
        color: #f48137;
        font-size: .3rem;
        line-height: .3rem;
        padding-left: .2rem;
        border-left: 2px solid #f48137;
        font-weight: normal;
        margin-bottom: .2rem;
    }
    ul {
        &::after {
            content: '';
            display: block;
            clear: both;
        }
        li {
            width: 50%;
            height: 2.05rem;
            float: left;
            &:nth-child(1) {
                background-image: url("../img/alliance-pic1.jpg");
                background-size: cover;
            }
            &:nth-child(2) {
                background-image: url("../img/alliance-pic2.jpg");
                background-size: cover;
            }
            &:nth-child(3) {
                background-image: url("../img/alliance-pic3.jpg");
                background-size: cover;
            }
            &:nth-child(4) {
                background-image: url("../img/alliance-pic4.jpg");
                background-size: cover;
            }
            a {
                display: block;
                height: 100%;
                color: #fff;
                font-size: .26rem;
                letter-spacing: .2em;
                line-height: 3.4rem;
                text-align: center;
            }
        }
    }
}
.fengcai {
    padding-top: .3rem;
    height:5.9rem;
    margin-bottom: .3rem;
    h1 {
        width: 50%;
        transform: translateX(.24rem);
        height: .3rem;
        color: #f48137;
        font-size:0.3rem;
        line-height: 0.3rem;
        padding-left: .2rem;
        border-left: 2px solid #f48137;
        font-weight: normal;
        margin-bottom: .2rem;
    }
    .left {
        float:left;
        width:50%;
        height:5.1rem;
        background-image:url(../img/alliance-pic5.jpg);
        background-size: cover;
        a{
            position: absolute;
            left:.3rem;
            bottom:1.2rem;
            width:1.8rem;
            height:.46rem;
            line-height: .46rem;
            letter-spacing: .1em;
            font-size: .24rem;
            color:#fff;
            background:rgba(76,185,66,0.7);
            border-radius: 5px;
            text-align: center;
        }
    }
    .right{
        float:left;
        width:50%;
        height:5.1rem;
        li{
            width:100%;
            height:50%;
            &:first-child{
                background-image:url(../img/alliance-pic6.jpg);
                background-size: cover;
            }
            &:last-child{
                background-image:url(../img/alliance-pic7.jpg);
                background-size: cover;
            }
            a{
                position: absolute;
                left:.3rem;
                bottom:.3rem;
                width:1.2rem;
                height:.4rem;
                line-height: .4rem;
                letter-spacing: .1em;
                font-size: .24rem;
                color:#fff;
                background:rgba(76,185,66,0.7);
                border-radius: 5px;
                text-align: center;
            }
        }
    }
}
.footer {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    li {
        height: .6rem;
        background: #353535;
        border-bottom: 2px solid #7f7f7f;
        a {
            display: block;
            height: 100%;
            color: #7f7f7f;
            font-size: .3rem;
            line-height: .6rem;
            text-align: center;
        }
    }
}