html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "microsoft yahei",Helvetica,sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

.body {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.body.move {
  transform: translateX(-50%); }

.list {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  position: fixed;
  z-index: 999;
  left: 100%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #424242; }
  .list li {
    height: 1rem;
    border-bottom: 2px solid #fff; }
    .list li a {
      display: block;
      height: 100%;
      line-height: 1rem;
      color: #fff;
      font-size: .3rem;
      text-align: center; }
      .list li a:active {
        color: #f48137; }
    .list li div {
      width: 50%;
      height: .40rem;
      margin-top: .3rem;
      float: left; }
      .list li div:first-child {
        border-right: 2px solid #fff; }
      .list li div a {
        display: block;
        height: 100%;
        line-height: .4rem;
        color: #fff;
        font-size: .3rem;
        text-align: center; }
        .list li div a:active {
          color: #f48137; }

.list.show {
  transform: translateX(-100%); }

.title {
  width: 100%;
  height: 1rem;
  background: #fff;
  border-bottom: 1px solid #4ec443;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0; }
  .title .logo {
    width: 2.78rem;
    height: 0.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.24rem; }
    .title .logo img {
      width: 100%;
      height: 100%; }
  .title .return {
    width: .42rem;
    height: 0.36rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .6rem; }
    .title .return img {
      width: 100%;
      height: 100%; }

#banner {
  height: 4rem;
  background: #eee;
  padding-top: 1rem; }
  #banner a {
    display: block;
    height: 100%; }
    #banner a img {
      width: 100%;
      height: 3rem; }

#nav {
  height: .78rem;
  background: #fff;
  border-bottom: 1px solid #ebebeb; }
  #nav .swiper-slide {
    color: #f48137;
    font-size: .3rem;
    line-height: .78rem;
    text-align: center; }

.news {
  padding: 0 .24rem;
  margin-bottom: .3rem; }
  .news::after {
    content: '';
    display: block;
    clear: both; }
  .news li {
    height: 1.7rem;
    padding: 0.21rem 0;
    border-bottom: 1px solid #ebebeb; }
    .news li a {
      display: block;
      height: 100%; }
      .news li a .left {
        float: left; }
        .news li a .left img {
          width: 2rem;
          height: 1.28rem; }
      .news li a .right {
        float: right;
        width: 3.74rem;
        height: 100%; }
        .news li a .right p {
          height: .9rem;
          font-size: .28rem;
          line-height: .4rem;
          color: #353535; }
        .news li a .right div {
          height: 0.35rem;
          padding-right: .2rem; }
          .news li a .right div span {
            font-size: .26rem;
            color: #f48137;
            line-height: .35rem; }
            .news li a .right div span:last-child {
              float: right;
              color: #838383; }

.video {
  padding: 0 .24rem; }
  .video .large {
    width: 100%;
    margin-bottom: .2rem; }
    .video .large a {
      display: block;
      height: 100%; }
      .video .large a span {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: .2rem;
        color: #fff;
        font-size: .3rem;
        z-index: 9;
        text-align: center; }
      .video .large a img {
        width: 5.92rem;
        outline-width: 0;
        vertical-align: top; }
  .video .sub {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .video .sub li {
      width: 2.8rem;
      height: 2.2rem;
      background: #f6f6f6;
      border-radius: 4px;
      margin-bottom: .3rem; }
      .video .sub li a {
        display: block;
        height: 100%; }
        .video .sub li a h1 {
          width: 100%;
          height: 1.58rem;
          background-image: url(../img/openclass-pic2.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .video .sub li a p {
          height: 0.62rem;
          line-height: 0.62rem;
          text-align: center;
          padding: 0 0.24rem;
          overflow: hidden;
          font-size: .24rem;
          color: #787878; }
      .video .sub li:nth-child(2) h1 {
        background-image: url(../img/openclass-pic3.jpg); }
      .video .sub li:nth-child(3) h1 {
        background-image: url(../img/openclass-pic4.jpg); }
      .video .sub li:nth-child(4) h1 {
        background-image: url(../img/openclass-pic5.jpg); }
      .video .sub li:nth-child(5) h1 {
        background-image: url(../img/openclass-pic6.jpg); }
      .video .sub li:nth-child(6) h1 {
        background-image: url(../img/openclass-pic7.jpg); }

.footer::after {
  content: '';
  display: block;
  clear: both; }

.footer li {
  height: .6rem;
  background: #353535;
  border-bottom: 2px solid #7f7f7f; }
  .footer li a {
    display: block;
    height: 100%;
    color: #7f7f7f;
    font-size: .3rem;
    line-height: .6rem;
    text-align: center; }
