@import "base";

@include userem(640px);
.body {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.body.move {
    transform: translateX(-50%);
}

.list {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    position: fixed;
    z-index: 999;
    left: 100%;
    top: 0;
    width: 50%;
    height: 100%;
    background: #424242;
    li {
        height: 1rem;
        border-bottom: 2px solid #fff;
        a {
            display: block;
            height: 100%;
            line-height: 1rem;
            color: #fff;
            font-size: .3rem;
            text-align: center;
            &:active {
                color: #f48137;
            }
        }
        div {
            width: 50%;
            height: .40rem;
            margin-top: .3rem;
            float: left;
            &:first-child {
                border-right: 2px solid #fff;
            }
            a {
                display: block;
                height: 100%;
                line-height: .4rem;
                color: #fff;
                font-size: .3rem;
                text-align: center;
                &:active {
                    color: #f48137;
                }
            }
        }
    }
}

.list.show {
    transform: translateX(-100%);
}

.title {
    width: 100%;
    height: 1rem;
    background: #fff;
    border-bottom: 1px solid #4ec443;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    .logo {
        width: 2.78rem;
        height: 0.6rem;
        @include shangxia;
        left: 0.24rem;
        img {
            width: 100%;
            height: 100%
        }
    }
    .return {
        width: .42rem;
        height: 0.36rem;
        @include shangxia;
        right: .6rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

#banner {
    height: 4rem;
    background: #eee;
    padding-top: 1rem;
    a {
        display: block;
        height: 100%;
        img {
            width: 100%;
            height: 3rem;
        }
    }
}

#nav {
    height: .78rem;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    .swiper-slide {
        color: #f48137;
        font-size: .3rem;
        line-height: .78rem;
        text-align: center;
    }
}

.news {
    padding: 0 .24rem;
    margin-bottom: .3rem;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    li {
        height: 1.7rem;
        padding: 0.21rem 0;
        border-bottom: 1px solid #ebebeb;
        a {
            display: block;
            height: 100%;
            .left {
                float: left;
                img {
                    width: 2rem;
                    height: 1.28rem;
                }
            }
            .right {
                float: right;
                width: 3.74rem;
                height: 100%;
                p {
                    height: .9rem;
                    font-size: .28rem;
                    line-height: .4rem;
                    color: #353535;
                }
                div {
                    height: 0.35rem;
                    padding-right: .2rem;
                    span {
                        font-size: .26rem;
                        color: #f48137;
                        line-height: .35rem;
                        &:last-child {
                            float: right;
                            color: #838383;
                        }
                    }

                }
            }
        }
    }
}

.video {
    padding: 0 .24rem;
    .large {
        width: 100%;
        margin-bottom: .2rem;
        a {
            display: block;
            height: 100%;
            span{
                @include zuoyou;
                bottom:.2rem;
                color:#fff;
                font-size: .3rem;
                z-index:9;
                text-align: center;
            }
            img {
                width: 5.92rem;
                outline-width: 0;
                vertical-align: top;
            }
        }
    }
    .sub {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 2.8rem;
            height: 2.2rem;
            background: #f6f6f6;
            border-radius: 4px;
            margin-bottom: .3rem;
            a {
                display: block;
                height: 100%;
                h1 {
                    width: 100%;
                    height: 1.58rem;
                    background-image: url(../img/openclass-pic2.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center ;
                }
                p {
                    height: 0.62rem;
                    line-height:0.62rem;
                    text-align: center;
                    padding:0 0.24rem;
                    overflow:hidden;
                    font-size: .24rem;
                    color:#787878;
                }
            }
            &:nth-child(2) {
                h1 {
                    background-image: url(../img/openclass-pic3.jpg) ;
                }
            }
            &:nth-child(3) {
                h1 {
                    background-image: url(../img/openclass-pic4.jpg);
                }
            }
            &:nth-child(4) {
                h1 {
                    background-image: url(../img/openclass-pic5.jpg) ;
                }
            }
            &:nth-child(5) {
                h1 {
                    background-image: url(../img/openclass-pic6.jpg) ;
                }
            }
            &:nth-child(6) {
                h1 {
                    background-image: url(../img/openclass-pic7.jpg) ;
                }
            }
        }
    }
}

.footer {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    li {
        height: .6rem;
        background: #353535;
        border-bottom: 2px solid #7f7f7f;
        a {
            display: block;
            height: 100%;
            color: #7f7f7f;
            font-size: .3rem;
            line-height: .6rem;
            text-align: center;
        }
    }
}