html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "microsoft yahei",Helvetica,sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

.body {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.body.move {
  transform: translateX(-50%); }

.list {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  position: fixed;
  z-index: 999;
  left: 100%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #424242; }
  .list li {
    height: 1rem;
    border-bottom: 2px solid #fff; }
    .list li a {
      display: block;
      height: 100%;
      line-height: 1rem;
      color: #fff;
      font-size: .3rem;
      text-align: center; }
      .list li a:active {
        color: #f48137; }
    .list li div {
      width: 50%;
      height: .40rem;
      margin-top: .3rem;
      float: left; }
      .list li div:first-child {
        border-right: 2px solid #fff; }
      .list li div a {
        display: block;
        height: 100%;
        line-height: .4rem;
        color: #fff;
        font-size: .3rem;
        text-align: center; }
        .list li div a:active {
          color: #f48137; }

.list.show {
  transform: translateX(-100%); }

.title {
  width: 100%;
  height: 1rem;
  background: #fff;
  border-bottom: 1px solid #4ec443;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0; }
  .title .logo {
    width: 2.78rem;
    height: 0.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.24rem; }
    .title .logo img {
      width: 100%;
      height: 100%; }
  .title .return {
    width: .42rem;
    height: 0.36rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .6rem; }
    .title .return img {
      width: 100%;
      height: 100%; }

#banner {
  height: 4rem;
  background: #eee;
  padding-top: 1rem; }
  #banner a {
    display: block;
    height: 100%; }
    #banner a img {
      width: 100%;
      height: 3rem; }

#nav {
  width: 100%;
  height: .78rem;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: .2rem; }
  #nav .swiper-slide {
    color: #f48137;
    font-size: .3rem;
    line-height: .78rem;
    text-align: center; }

.grid {
  padding: 0 .24rem;
  height: 13.5rem; }
  .grid::after {
    content: '';
    display: block;
    clear: both; }
  .grid .grid-item {
    position: absolute;
    width: 2.88rem;
    float: left;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 0 3px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 0 3px;
    margin-bottom: 10px; }
    .grid .grid-item a {
      display: block;
      height: 100%; }
      .grid .grid-item a img {
        width: 100%;
        display: block; }
      .grid .grid-item a p {
        height: .48rem;
        line-height: .48rem;
        color: #5e5e5e;
        font-size: .28rem;
        text-align: center; }

.footer::after {
  content: '';
  display: block;
  clear: both; }

.footer li {
  height: .6rem;
  background: #353535;
  border-bottom: 2px solid #7f7f7f; }
  .footer li a {
    display: block;
    height: 100%;
    color: #7f7f7f;
    font-size: .3rem;
    line-height: .6rem;
    text-align: center; }
