html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "microsoft yahei",Helvetica,sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

.body {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.body.move {
  transform: translateX(-50%); }

.list {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  position: fixed;
  z-index: 999;
  left: 100%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #424242; }
  .list li {
    height: 1rem;
    border-bottom: 2px solid #fff; }
    .list li a {
      display: block;
      height: 100%;
      line-height: 1rem;
      color: #fff;
      font-size: .3rem;
      text-align: center; }
      .list li a:active {
        color: #f48137; }
    .list li div {
      width: 50%;
      height: .40rem;
      margin-top: .3rem;
      float: left; }
      .list li div:first-child {
        border-right: 2px solid #fff; }
      .list li div a {
        display: block;
        height: 100%;
        line-height: .4rem;
        color: #fff;
        font-size: .3rem;
        text-align: center; }
        .list li div a:active {
          color: #f48137; }

.list.show {
  transform: translateX(-100%); }

.title {
  width: 100%;
  height: 1rem;
  background: #fff;
  border-bottom: 1px solid #4ec443;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0; }
  .title .logo {
    width: 2.78rem;
    height: 0.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.24rem; }
    .title .logo img {
      width: 100%;
      height: 100%; }
  .title .return {
    width: .42rem;
    height: 0.36rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: .6rem; }
    .title .return img {
      width: 100%;
      height: 100%; }

#banner {
  height: 4rem;
  background: #eee;
  padding-top: 1rem; }
  #banner a {
    display: block;
    height: 100%; }
    #banner a img {
      width: 100%;
      height: 3rem; }

#nav {
  height: .78rem;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  padding: .22rem 0; }
  #nav .swiper-slide {
    color: #f48137;
    font-size: .3rem;
    line-height: .34rem;
    text-align: center; }
  #nav #border {
    border-left: 1px solid #f48137;
    border-right: 1px solid #f48137; }
    #nav #border span {
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top-color: #f48137;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      top: 7px;
      right: 7px;
      transform-origin: 50% 25%;
      -webkit-transition: all .6s ease;
      -moz-transition: all .6s ease;
      -ms-transition: all .6s ease;
      -o-transition: all .6s ease;
      transition: all .6s ease; }
    #nav #border.rotate span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.news {
  padding: 0 .24rem;
  margin-bottom: .3rem; }
  .news::after {
    content: '';
    display: block;
    clear: both; }
  .news li {
    height: 1.7rem;
    padding: 0.21rem 0;
    border-bottom: 1px solid #ebebeb; }
    .news li a {
      display: block;
      height: 100%; }
      .news li a .left {
        float: left; }
        .news li a .left img {
          width: 2rem;
          height: 1.28rem; }
      .news li a .right {
        float: right;
        width: 3.74rem;
        height: 100%; }
        .news li a .right p {
          height: .9rem;
          font-size: .28rem;
          line-height: .4rem;
          color: #353535; }
        .news li a .right div {
          height: 0.35rem;
          padding-right: .2rem; }
          .news li a .right div span {
            font-size: .26rem;
            color: #f48137;
            line-height: .35rem; }
            .news li a .right div span:last-child {
              float: right;
              color: #838383; }

.tab {
  padding: 0 .24rem;
  padding-top: .2rem;
  margin-bottom: .3rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between; }
  .tab li {
    float: left;
    width: 2.88rem;
    height: 4rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: .2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px; }
    .tab li a {
      display: block;
      height: 100%; }
      .tab li a img {
        width: 100%;
        height: 2.5rem;
        margin-bottom: .25rem; }
      .tab li a h1 {
        border-left: 4px solid #28a69a;
        text-align: center;
        color: #5e5e5e;
        font-size: .28rem;
        height: .5rem;
        line-height: .5rem;
        font-weight: normal; }
    .tab li:nth-child(2) h1 {
      border-left: 4px solid #acd380; }
    .tab li:nth-child(3) h1 {
      border-left: 4px solid #ffcc37; }
    .tab li:nth-child(4) h1 {
      border-left: 4px solid #e69586; }

.footer::after {
  content: '';
  display: block;
  clear: both; }

.footer li {
  height: .6rem;
  background: #353535;
  border-bottom: 2px solid #7f7f7f; }
  .footer li a {
    display: block;
    height: 100%;
    color: #7f7f7f;
    font-size: .3rem;
    line-height: .6rem;
    text-align: center; }
