html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "microsoft yahei",Helvetica,sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

html {
  height: 100%; }

body {
  height: 100%;
  background: #f8f8f8; }

input {
  font-size: .3rem;
  color: #c0c0c0;
  background: #fff;
  border-radius: 4px;
  text-align: center; }

.head {
  height: 1rem;
  border-bottom: 1px solid #4ec443;
  margin-bottom: .64rem; }
  .head img {
    height: .6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.name {
  height: .76rem;
  width: 100%;
  padding: 0 .4rem;
  margin-bottom: .2rem; }
  .name input {
    width: 100%;
    height: 100%;
    line-height: .76rem;
    background: #fff;
    border: 1px solid #e2e5e7; }

.input {
  height: .76rem;
  width: 100%;
  padding: 0 .4rem;
  margin-bottom: .2rem; }
  .input input {
    width: 100%;
    height: 100%;
    line-height: .76rem;
    background: #fff;
    border: 1px solid #e2e5e7; }

.password, .affirm {
  height: .76rem;
  width: 100%;
  padding: 0 .4rem;
  margin-bottom: .2rem; }
  .password input, .affirm input {
    width: 100%;
    height: 100%;
    line-height: .76rem;
    background: #fff;
    border: 1px solid #e2e5e7; }

.affirm {
  margin-bottom: .45rem; }

.submit {
  width: 5.6rem;
  height: .88rem;
  margin: 0 auto;
  margin-bottom: .5rem; }
  .submit input {
    width: 100%;
    background: #4ec443;
    color: #fff;
    text-align: center;
    line-height: .88rem; }

.login {
  width: 3.2rem;
  height: .9rem;
  margin: 0 auto;
  border: 1px solid #e2e5e7;
  background: #fff;
  border-radius: 4px; }
  .login a {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    color: #f48137;
    text-align: center; }
    .login a span {
      font-size: .28rem;
      line-height: .9rem; }
    .login a img {
      width: .3rem;
      height: .25rem;
      margin: auto 0;
      margin-right: .1rem; }
