html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "microsoft yahei",Helvetica,sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

body {
  background: #f7f7f7; }

img {
  outline-width: 0;
  vertical-align: top; }

.nav-box {
  height: 60px;
  -webkit-box-shadow: 0 1px #e6e6e6;
  -moz-box-shadow: 0 1px #e6e6e6;
  -o-box-shadow: 0 1px #e6e6e6;
  box-shadow: 0 1px #e6e6e6;
  margin-bottom: 20px; }
  .nav-box .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .nav-box .nav .logo {
      float: left;
      margin-left: 10px;
      display: block;
      width: 150px;
      height: 100%; }
      .nav-box .nav .logo img {
        height: 40px;
        position: absolute;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
    .nav-box .nav .list {
      width: 410px;
      height: 100%;
      float: right; }
      .nav-box .nav .list li {
        width: 20%;
        height: 100%;
        float: left; }
        .nav-box .nav .list li:hover a {
          color: #ff9a0e; }
        .nav-box .nav .list li span {
          width: 1px;
          height: 10px;
          background: #c3c3c3;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0; }
        .nav-box .nav .list li a {
          display: block;
          height: 100%;
          line-height: 60px;
          text-align: center;
          color: #4e4e4e;
          font-size: 18px; }

.show {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .show .left {
    float: left;
    width: 400px;
    height: 100%; }
    .show .left h1 {
      height: 30px;
      margin-bottom: 10px;
      width: 100px;
      padding-left: 20px;
      background: #ff9a0e;
      line-height: 30px;
      text-align: left;
      font-size: 15px;
      color: #fff;
      font-weight: normal; }
      .show .left h1::after {
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid #fff; }
    .show .left img {
      width: 100%; }
    .show .left p {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      color: #fff; }
  .show .right {
    float: right;
    width: 760px;
    height: 100%; }
    .show .right #swiper {
      width: 100%;
      height: 100%; }
      .show .right #swiper a {
        display: block;
        height: 100%; }

.news {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; }
  .news .left {
    width: 730px;
    height: 100%;
    background: #fff; }
    .news .left li {
      height: 20%;
      padding-top: 10px;
      padding-left: 10px;
      -webkit-transition: transform .5s linear .2s ,  box-shadow .8s ease;
      -moz-transition: transform .5s linear  .2s ,  box-shadow .8s ease;
      -o-transition: transform .5s linear   , box-shadow .8s ease;
      transition: transform .5s linear     , box-shadow .8s ease; }
      .news .left li a {
        display: block;
        height: 100%; }
      .news .left li img {
        display: block;
        float: left;
        width: 180px;
        margin-right: 30px; }
      .news .left li span {
        display: block;
        height: 100%; }
        .news .left li span h1 {
          line-height: 30px;
          color: #4e4e4e;
          font-size: 16px; }
        .news .left li span p {
          line-height: 1.5;
          color: #777;
          font-size: 16px; }
      .news .left li:hover {
        transform: translate3d(0, 1px, -2px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
      .news .left li:hover h1 {
        color: #ff9a0e; }
  .news .right {
    width: 450px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 10px; }
    .news .right div {
      height: 50%; }
      .news .right div a {
        display: block;
        height: 100%; }
      .news .right div p {
        overflow: hidden; }
        .news .right div p img {
          width: 100%;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; }
        .news .right div p:hover img {
          transform: scale(1.1); }
      .news .right div h1 {
        line-height: 40px;
        font-size: 16px;
        color: #4e4e4e;
        text-align: center; }

.ad {
  display: block;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url(../img/index-ad.png) no-repeat;
  background-size: contain;
  font-size: 30px;
  letter-spacing: 2em;
  color: #fff;
  line-height: 100px;
  text-align: center; }

.type {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .type > div {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px;
    height: 100%;
    background: #fff;
    padding: 10px; }
    .type > div:hover img {
      transform: scale(1.1); }
    .type > div a {
      display: block;
      height: 100%; }
      .type > div a h1 {
        height: 30px;
        font-size: 20px;
        color: #333;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px; }
        .type > div a h1 span {
          float: left;
          width: 100px;
          height: 30px;
          padding-left: 20px;
          background: #ff9a0e;
          text-align: left;
          line-height: 30px;
          font-size: 15px;
          color: #fff;
          font-weight: normal; }
          .type > div a h1 span::after {
            content: '';
            position: absolute;
            z-index: 1;
            right: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid #fff; }
      .type > div a div {
        overflow: hidden; }
        .type > div a div img {
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease; }
      .type > div a p {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: rgba(0, 0, 0, 0.5);
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        text-align: center; }
  .type > div:nth-child(1) {
    width: 500px; }
  .type > div:nth-child(2) {
    width: 400px; }
  .type > div:nth-child(3) {
    width: 260px; }

.school-box {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px; }
  .school-box::after {
    content: '';
    display: block;
    clear: both; }
  .school-box .title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ff9700;
    font-size: 18px;
    letter-spacing: .3em; }
    .school-box .title span {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      margin-left: -170px;
      width: 100px;
      height: 1px;
      background: #ff9700; }
    .school-box .title .r {
      margin-left: 20px; }
  .school-box .school .left {
    width: 590px;
    height: 300px;
    float: left; }
    .school-box .school .left img {
      width: 100%; }
    .school-box .school .left p {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: rgba(0, 0, 0, 0.5);
      line-height: 40px;
      color: #fff;
      font-size: 16px;
      text-align: center; }
  .school-box .school .right {
    width: 590px;
    float: right;
    height: 300px;
    padding: 10px;
    background: #fff; }
    .school-box .school .right h1 {
      height: 30px;
      font-size: 20px;
      color: #333;
      line-height: 30px;
      text-align: center;
      margin-bottom: 10px; }
      .school-box .school .right h1 span {
        float: left;
        width: 100px;
        height: 30px;
        padding-left: 20px;
        background: #ff9a0e;
        text-align: left;
        line-height: 30px;
        font-size: 15px;
        color: #fff;
        font-weight: normal; }
        .school-box .school .right h1 span::after {
          content: '';
          position: absolute;
          z-index: 1;
          right: 0;
          width: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid #fff; }
    .school-box .school .right ul {
      padding: 0 50px;
      height: 240px; }
      .school-box .school .right ul li {
        height: 20%;
        border-bottom: 1px dashed #333;
        padding-left: 30px; }
        .school-box .school .right ul li p {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ff9700;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          text-align: center;
          line-height: 20px;
          color: #fff; }

.footer {
  height: 66px;
  padding: 8px 0;
  background: url("../img/footer-bg.png"); }
  .footer .top {
    width: 350px;
    height: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer .top div a {
      display: block;
      height: 100%;
      color: #7f7f7f;
      line-height: 25px;
      text-align: center;
      font-size: 16px; }
    .footer .top div:hover a {
      color: #fff; }
  .footer .btm {
    width: 350px;
    height: 25px;
    margin: 0 auto; }
    .footer .btm a {
      display: block;
      height: 100%;
      color: #7f7f7f;
      line-height: 25px;
      text-align: center;
      font-size: 16px; }
    .footer .btm:hover a {
      color: #fff; }

.swiper-pagination .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 10px !important;
  background: #fff !important;
  opacity: 0.6 !important;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px !important;
  opacity: 1 !important; }
