html {
    font-size: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, "microsoft yahei", sans-serif;
    box-sizing: border-box;
}

img {
    outline-width: 0;
    vertical-align: top;
    border: 0;
}

a {
    color: #333;
}

input {
    outline: none;
}

@media screen and (max-width: 640px) {
    html {
        font-size: 100px;
    }
}

@media screen and (max-width: 414px) {
    html {
        font-size: 64.6875px;
    }
}

@media screen and (max-width: 412px) {
    html {
        font-size: 64.375px;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size: 60px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 58.59375px;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 56.25px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 50px;
    }
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.full{
    height:100%;
}
.full .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.full .header {
    width: 100%;
    height: .88rem;
    background: #0f1416;
    font-size: .24rem;
    line-height: .88rem;
    color: #ffe696;
    text-align: center;
    letter-spacing: .2em;
}

.full .header >img {
    position: absolute;
    width: .5rem;
    height: .5rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: .3rem;
}

.full .header a{
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: .3rem;
}
.full .header a img {
    width:100%
}