html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"microsoft yahei",sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

@keyframes kickBack {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes kickBack {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@-moz-keyframes kickBack {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@-o-keyframes kickBack {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-o-keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #00a33e;
  left: 0;
  top: 0;
  background: #f8f8f8;
  padding: 0 .45rem; }
  .nav div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
    .nav div a {
      display: block;
      height: 100%; }
  .nav .logo {
    width: .45rem;
    height: .4rem;
    background-image: url(../img/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: .3rem;
    transition: all 1s ease; }
  .nav .title {
    width: 2rem;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #00a33e;
    font-size: .3rem;
    line-height: 1rem;
    letter-spacing: .2em;
    text-align: center;
    font-weight: bold;
    transition: all .4s ease; }

.section {
  width: 100%;
  height: 100%;
  padding-top: 1.3rem;
  overflow: hidden; }
  .section .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    width: 100%;
    height: auto;
    -webkit-animation: kickBack 8s linear infinite both;
    animation: kickBack 8s linear infinite both; }
  .section .logo {
    display: block;
    width: 3.1rem;
    height: .8rem;
    margin: 0 auto;
    margin-bottom: .15rem; }
  .section .solgan {
    display: block;
    width: 4.69rem;
    height: .69rem;
    margin: 0 auto;
    margin-bottom: .33rem; }
  .section .navs {
    width: 5.4rem;
    height: 1.6rem;
    margin: 0 auto;
    position: relative; }
    .section .navs div {
      position: absolute;
      bottom: 0;
      left: .525rem;
      width: 0;
      height: 0;
      box-sizing: content-box;
      border: .15rem solid #fffefe;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent; }
    .section .navs li {
      width: 25%;
      height: 100%;
      float: left;
      position: relative; }
      .section .navs li img {
        width: .9rem;
        display: block;
        margin: 0 auto;
        -webkit-animation: rotate 4s linear infinite both;
        animation: rotate 4s linear infinite both; }
      .section .navs li p {
        line-height: .6rem;
        text-align: center;
        color: #fffefe;
        font-size: .3rem; }
  .section .text-box {
    width: 5.4rem;
    height: 3.5rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: .1rem;
    -webkit-box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.3);
    -moz-box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.3);
    box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.3); }
  .section .text {
    width: 5.4rem;
    height: 14rem;
    background: #fffefe; }
    .section .text li {
      width: 100%;
      height: 3.5rem;
      padding: 0.25rem .2rem; }
      .section .text li h1 {
        line-height: 1.5;
        font-size: .24rem;
        color: #00a33e;
        text-indent: 1em;
        margin-bottom: .2rem; }
      .section .text li p {
        line-height: 1.5;
        font-size: .24rem;
        color: #474747;
        text-indent: 1em;
        margin-bottom: .2rem; }
      .section .text li div {
        height: .5rem;
        padding-left: .2rem;
        width: 50%;
        float: left;
        line-height: .5rem;
        font-size: .24rem;
        color: #474747; }
