html {
  font-size: 100px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"microsoft yahei",sans-serif;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }

@-webkit-keyframes kickBack {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1.05); } }

@-moz-keyframes kickBack {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1.05); } }

@-o-keyframes kickBack {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1.05); } }

@keyframes kickBack {
  0% {
    transform: scale(1.05); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1.05); } }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-o-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes fangda {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes fangda {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@-webkit-keyframes aa {
  0% {
    transform: translatex(0); }
  25% {
    transform: translatex(-8.6rem); }
  50% {
    transform: translatex(0); }
  75% {
    transform: translatex(8.6rem); }
  100% {
    transform: translatex(0); } }

@keyframes aa {
  0% {
    transform: translatex(0); }
  25% {
    transform: translatex(-8.6rem); }
  50% {
    transform: translatex(0); }
  75% {
    transform: translatex(8.6rem); }
  100% {
    transform: translatex(0); } }

*.hidden {
  opacity: 0; }

.bg.hidden {
  opacity: 1; }

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f8f8f8;
  z-index: 999999; }
  .loading .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
    width: 2rem;
    -webkit-animation: rotate 2.5s linear infinite both;
    -o-animation: rotate 2.5s linear infinite both;
    animation: rotate 2.5s linear infinite both; }
  .loading .spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 70%; }
    .loading .spinner div {
      background-color: #00a33e;
      height: 100%;
      width: 6px;
      float: left;
      margin-right: 4px;
      -webkit-animation: fangda 1.2s infinite ease-in-out;
      animation: fangda 1.2s infinite ease-in-out; }
    .loading .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .loading .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }
    .loading .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .loading .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }

.nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #00a33e;
  left: 0;
  top: -1rem;
  background: #f8f8f8;
  padding: 0 .45rem;
  transition: all 1s ease; }
  .nav div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
  .nav .logo {
    width: .68rem;
    height: .6rem;
    background-image: url(../img/nav-icon1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    left: .45rem;
    transition: all 1s ease; }
  .nav .title {
    width: 2rem;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #00a33e;
    font-size: .3rem;
    line-height: 1rem;
    letter-spacing: .2em;
    text-align: center;
    font-weight: bold;
    transition: all .4s ease; }
  .nav .tittle.hidden {
    opacity: 0; }
  .nav .crumb {
    width: .54rem;
    height: .6rem;
    background: url(../img/nav-icon2.png) center center no-repeat;
    background-size: contain;
    right: .45rem;
    transition: all 1s ease; }
  .nav.active {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #f8f8f8; }
    .nav.active .logo {
      background-image: url(../img/nav-icon3.png); }
    .nav.active .crumb {
      background-image: url(../img/nav-icon4.png); }
    .nav.active ~ .nav-list {
      left: 0; }

.nav-list {
  position: fixed;
  overflow: hidden;
  left: 100%;
  z-index: 99;
  top: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 1s ease; }
  .nav-list ul {
    width: 100%; }
    .nav-list ul::after {
      content: '';
      display: block;
      clear: both; }
    .nav-list ul li {
      width: 33.33333%;
      float: left;
      height: 2.6rem;
      position: relative; }
      .nav-list ul li:first-child {
        width: 100%;
        height: 3rem; }
        .nav-list ul li:first-child img {
          height: .94rem; }
      .nav-list ul li:nth-child(2) img {
        height: 1.3rem; }
      .nav-list ul li:nth-child(3) img {
        height: 1.25rem; }
      .nav-list ul li:nth-child(4) img {
        height: 1.3rem; }
      .nav-list ul li:nth-child(5) img {
        height: 1.25rem; }
      .nav-list ul li:nth-child(6) img {
        height: 1.25rem; }
      .nav-list ul li:nth-child(7) img {
        height: 1.25rem; }
      .nav-list ul li img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(0);
        transition: transform .4s ease 1s; }
  .nav-list .line {
    position: absolute;
    background: #f8f8f8;
    transition: all 1s ease 1s; }
  .nav-list .row {
    width: 100%;
    height: 1px; }
  .nav-list .col {
    width: 1px;
    height: 5rem; }
  .nav-list .nav-one {
    left: 300%;
    top: 3rem; }
  .nav-list .nav-two {
    left: 2.13rem;
    top: -300%; }
  .nav-list .nav-three {
    left: -300%;
    top: 5.5rem; }
  .nav-list .nav-four {
    left: 4.26rem;
    top: 300%; }
  .nav-list.show img {
    transform: scale(1); }
  .nav-list.show .nav-one {
    left: 0; }
  .nav-list.show .nav-two {
    top: 3rem; }
  .nav-list.show .nav-three {
    left: 0; }
  .nav-list.show .nav-four {
    top: 3rem; }

.section {
  position: relative;
  z-index: 1;
  overflow: hidden; }

.one .bg {
  position: absolute;
  /*left: -8.6rem;*/
  /*width: 23.6rem;
  height: 11.4rem;*/
  width: 100%;
  height: 100%;
  -webkit-animation: kickBack 10s linear infinite both;
  animation: kickBack 10s linear infinite both; }

.one .go-down {
  width: .74rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.2rem; }

.one .title {
  width: 4.05rem;
  height: 0.69rem;
  position: absolute;
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.42rem; }
  .one .title img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
    .one .title img:first-child {
      left: 0;
      width: .6rem;
      -webkit-animation: rotate 4s linear infinite both;
      -ms-animation: rotate 4s linear infinite both;
      -moz-animation: rotate 4s linear infinite both;
      -o-animation: rotate 4s linear infinite both;
      animation: rotate 4s linear infinite both; }
    .one .title img:last-child {
      right: 0;
      width: 3.26rem; }

.one.active .logo {
  transform: scale(1); }

.two .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-animation: kickBack 8s linear infinite both;
  -ms-animation: kickBack 8s linear infinite both;
  -o-animation: kickBack 8s linear infinite both;
  animation: kickBack 8s linear infinite both; }

.two .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.two .logo {
  width: 3.48rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 1.7rem;
  transform: scale(0);
  transition: transform 1s ease; }

.two .slogan {
  width: 4.8rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: .8rem;
  border-radius: 10px;
  background: rgba(12, 43, 0, 0.4);
  transform: all 1s ease; }
  .two .slogan img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4.23rem; }

.two.active .logo {
  transform: scale(1); }

.three .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-animation: kickBack 8s linear infinite both;
  -ms-animation: kickBack 8s linear infinite both;
  -o-animation: kickBack 8s linear infinite both;
  animation: kickBack 8s linear infinite both; }

.three .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.three h1 {
  position: absolute;
  width: 100%;
  top: 1.22rem;
  font-weight: normal;
  font-size: .28rem;
  text-align: center;
  line-height: 1.16rem;
  color: #fff; }

.three .introduce {
  width: 5.1rem;
  height: 2.18rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.4rem;
  overflow: hidden;
}
  .three .introduce p {
    width: 5rem;
    margin: 0 auto;
    line-height: 1.5;
    font-size: .24rem;
    color: #fff; }

.three #host-banner {
  width: 5.1rem;
  height: 3rem;
  box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5.07rem;
  border-radius: .1rem; }
  .three #host-banner img {
    width: 5.1rem; }

.three .go-right {
  width: 1.3rem;
  height: .5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: .3rem;
  border: 1px solid #fff;
  border-radius: .1rem;
  background: url(../img/about-arrow.png) center center no-repeat;
  background-size: .41rem; }

.four .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-animation: kickBack 8s linear infinite both;
  -ms-animation: kickBack 8s linear infinite both;
  -o-animation: kickBack 8s linear infinite both;
  animation: kickBack 8s linear infinite both; }

.four .logo {
  position: absolute;
  top: 1.5rem;
  width: 1.95rem;
  left: .5rem; }

.four .text {
  width: 5.4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.56rem;
  background: #fff;
  padding: .24rem .2rem;
  border-radius: .1rem;
  box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.3); }
  .four .text span {
    position: absolute;
    top: -.58rem;
    left: .3rem;
    box-sizing: content-box !important;
    width: 0;
    height: 0;
    border: .3rem solid #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent; }
  .four .text h1 {
    padding-left: 1em;
    line-height: .24rem;
    font-size: .2rem;
    color: #00a33e;
    margin-bottom: .2rem; }
  .four .text div {
    line-height: 1.5;
    font-size: .2rem;
    text-indent: 1em;
    color: #474747;
    position: relative; }
    .four .text div p {
      position: absolute;
      width: .08rem;
      height: .08rem;
      border-radius: 50%;
      background: #00a33e;
      left: .06rem;
      top: .1rem; }
  .four .text .a {
    margin-bottom: 1.5em; }

.four .go-right {
  width: 1.3rem;
  height: .5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 8.1rem;
  border: 1px solid #fff;
  border-radius: .1rem;
  background: url(../img/about-arrow.png) center center no-repeat;
  background-size: .41rem; }

.five .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-animation: kickBack 8s linear infinite both;
  -ms-animation: kickBack 8s linear infinite both;
  -o-animation: kickBack 8s linear infinite both;
  animation: kickBack 8s linear infinite both; }

.five .logo {
  position: absolute;
  top: 2rem;
  width: 1.95rem;
  left: .5rem; }

.five .text {
  width: 5.4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.56rem;
  background: #fff;
  padding: .24rem .2rem;
  border-radius: .1rem;
  box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.3); }
  .five .text span {
    position: absolute;
    top: -.58rem;
    left: .3rem;
    box-sizing: content-box !important;
    width: 0;
    height: 0;
    border: .3rem solid #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent; }
  .five .text h1 {
    padding-left: 1em;
    line-height: .24rem;
    font-size: .2rem;
    color: #00a33e;
    margin-bottom: .2rem; }
  .five .text div {
    line-height: 1.5;
    font-size: .2rem;
    text-indent: 1em;
    color: #474747;
    position: relative; }
    .five .text div p {
      position: absolute;
      width: .08rem;
      height: .08rem;
      border-radius: 50%;
      background: #00a33e;
      left: .06rem;
      top: .1rem; }
  .five .text .a {
    margin-bottom: 1.5em; }

.five .go-right {
  width: 1.3rem;
  height: .5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 8.1rem;
  border: 1px solid #fff;
  border-radius: .1rem;
  background: url(../img/about-arrow.png) center center no-repeat;
  background-size: .41rem; }

.six {
  background: #f8f8f8; }
  .six .banner {
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    position: relative; }
    .six .banner p {
      display: block;
      width: 100%;
      height: 4rem;
      position: absolute; }
      .six .banner p:nth-child(1) {
        left: -100%;
        transition: all .6s ease 1s; }
      .six .banner p:nth-child(2) {
        left: 100%;
        transition: all .6s ease 1s; }
      .six .banner p .img {
        width: 100%; }
    .six .banner .mill {
      width: .8rem;
      height: .8rem;
      position: absolute;
      -webkit-animation: rotate 1s linear infinite both;
      -ms-animation: rotate 1s linear infinite both;
      -o-animation: rotate 1s linear infinite both;
      animation: rotate 1s linear infinite both;
      transition: all .6s ease 2s;
      opacity: 0; }
      .six .banner .mill img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0.3rem; }
    .six .banner .left {
      left: 2.8rem;
      top: 1.6rem; }
    .six .banner .right {
      left: 5rem;
      top: 3.14rem; }
  .six .text {
    width: 100%;
    padding: .3rem .25rem .01rem .25rem;
    position: relative;
    background: #fff; }
    .six .text div {
      line-height: 1.5;
      font-size: .24rem;
      text-indent: 1em;
      color: #474747;
      position: relative;
      margin-bottom: .2rem; }
      .six .text div p {
        position: absolute;
        width: .08rem;
        height: .08rem;
        border-radius: 50%;
        background: #00a33e;
        left: .06rem;
        top: .1rem; }
  .six .team {
    width: 2.2rem;
    height: 1.3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0; }
    .six .team > img {
      width: .6rem;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
      .six .team > img:nth-child(1) {
        left: 0; }
      .six .team > img:nth-child(2) {
        right: 0; }
    .six .team ul {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -1.5rem; }
      .six .team ul li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; }
        .six .team ul li img {
          width: 100%; }
  .six .name {
    width: 100%;
    height: 1rem;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 1rem;
    font-size: .22rem;
    color: #00a33e; }
  .six .btm {
    width: 5.08rem;
    height: .78rem;
    margin: 0 auto; }
    .six .btm li {
      width: 50%;
      height: 100%;
      float: left;
      font-size: .24rem;
      line-height: .78rem;
      color: #a0a0a0; }
      .six .btm li:nth-child(2) {
        text-align: right; }
  .six.active .banner p {
    left: 0; }
  .six.active .banner .mill {
    opacity: 1; }

.seven .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  -webkit-animation: kickBack 8s linear infinite both;
  -ms-animation: kickBack 8s linear infinite both;
  -o-animation: kickBack 8s linear infinite both;
  animation: kickBack 8s linear infinite both; }

.seven .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.seven h1 {
  position: absolute;
  width: 100%;
  top: 1.6rem;
  font-weight: normal;
  font-size: .28rem;
  text-align: center;
  line-height: 1.16rem;
  color: #fff; }

.seven .introduce {
  width: 5.1rem;
  height: 2.18rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.4rem;
  overflow: hidden; }
  .seven .introduce p {
    width: 5rem;
    margin: 0 auto;
    line-height: 1.5;
    font-size: .24rem;
    color: #fff; }

.seven #host-banner-2 {
  width: 100%;
  height: 4.65rem;
  box-shadow: 0 0 0.5rem rgba(3, 8, 5, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: .5rem;
  border-radius: .1rem; }
  .seven #host-banner-2 img {
    width: 100%; }

.eight {
  padding-top: 1rem;
  background: #f8f8f8; }
  .eight .type {
    width: 100%;
    margin-bottom: .3rem; }
    .eight .type::after {
      content: '';
      display: block;
      clear: both; }
    .eight .type li {
      width: 100%;
      height: auto;
      position: relative; }
      .eight .type li img {
        width: 100%; }
      .eight .type li .rotate {
        position: absolute;
        top: 1.4rem;
        right: .7rem;
        width: .3rem;
        height: .3rem;
        -webkit-animation: rotate 2s linear infinite both;
        -o-animation: rotate 2s linear infinite both;
        -ms-animation: rotate 2s linear infinite both;
        animation: rotate 2s linear infinite both; }
      .eight .type li .btm {
        right: 1.2rem;
        top: 1.5rem; }
  .eight .coop {
    width: 1.7rem;
    height: .5rem;
    margin: 0 auto; }
    .eight .coop img {
      display: block;
      float: left;
      height: .5rem; }
    .eight .coop span {
      display: block;
      float: right;
      width: 1.1rem;
      line-height: .5rem;
      text-align: center;
      font-size: .26rem;
      color: #444; }
  .eight .contact {
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .26rem;
    color: #444; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  z-index: 99;
  bottom: .2rem;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: .1rem;
  height: .1rem;
  display: inline-block;
  border-radius: .05rem;
  background: rgba(255, 255, 255, 0.5);
  transition: all .4s ease; }

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: .2rem;
  background: white; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: .1rem;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: .1rem 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .1rem; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }
