@charset "UTF-8";
html {
  font-size: 100px; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: "微软雅黑",sans-serif; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: url(../img/login-bg.webp) no-repeat;
  background-size: 100%;
  overflow: hidden; }

.inner-box {
  width: 400px;
  height: 539px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20%;
  z-index: 9999; }
  .inner-box .logo {
    width: 100%;
    height: 90px;
    background: url(../img/loginPage-logo.png) center center no-repeat;
    margin-bottom: 15px; }
  .inner-box .type {
    width: 180px;
    height: 42px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px; }
    .inner-box .type div {
      float: left;
      box-sizing: border-box;
      margin: 0 20px;
      width: 50px;
      height: 100%;
      font-size: 24px;
      line-height: 40px;
      color: #6891b7;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent; }
      .inner-box .type div.active {
        border-bottom-color: #fff;
        color: #fff; }
    .inner-box .type .register {
      text-align: right; }
    .inner-box .type .line {
      width: 1px;
      height: 25px;
      background: #fff;
      padding: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .inner-box .input-box {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden; }
    .inner-box .input-box form {
      width: 100%;
      height: 100%; }
      .inner-box .input-box form input {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        background: #fff;
        border-bottom: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        color: #a8a8a8; }
        .inner-box .input-box form input:first-child {
          border-top: 2px solid #d5d5d5;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px; }
        .inner-box .input-box form input:last-child {
          border-bottom-width: 2px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px; }
  .inner-box .submit-box {
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    overflow: hidden; }
    .inner-box .submit-box form {
      width: 100%;
      height: 100%; }
      .inner-box .submit-box form input {
        box-sizing: border-box;
        width: 100%;
        height: 44px;
        font-size: 20px;
        border-radius: 10px;
        color: #fff;
        background: #eb725d; }
  .inner-box .sub-title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    color: #adacac; }
    .inner-box .sub-title div {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100px;
      height: 2px;
      background: #b3cce3; }
      .inner-box .sub-title div:nth-child(1) {
        left: 50px; }
      .inner-box .sub-title div:nth-child(2) {
        right: 50px; }
  .inner-box .other {
    width: 204px;
    height: 53px;
    margin: 0 auto; }
    .inner-box .other li {
      float: left;
      box-sizing: border-box;
      width: 68px;
      height: 53px; }
      .inner-box .other li a {
        display: block;
        height: 100%;
        position: relative; }
        .inner-box .other li a img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }

.icon {
  position: absolute; }

.a {
  left: 17%;
  top: 42%;
  animation: floatBlink 1s ease infinite; }

.b {
  left: 10%;
  top: 60%;
  animation: floatBlink 1s ease infinite; }

.c {
  left: 3%;
  bottom: 2%;
  animation: floatBlink 1s ease infinite; }

.d {
  left: 32%;
  bottom: 4%;
  animation: floatBlink 1s ease infinite; }

.e {
  left: 32%;
  top: 64%;
  transform-origin: 0 0;
  animation: revolve 2s ease infinite; }

.f {
  left: 36%;
  top: 50%;
  animation: floatBlink 1s ease infinite; }

.g {
  left: 46%;
  top: 70%;
  animation: floatBlink 1s ease infinite; }

.h {
  left: 48%;
  top: 80%;
  animation: floatBlink 1s ease infinite; }

.i {
  left: 58%;
  bottom: 0%;
  animation: floatBlink 1s ease infinite; }

.j {
  left: 68%;
  bottom: 4%;
  animation: floatBlink 1s ease infinite; }

.k {
  left: 78%;
  bottom: 30%;
  transform-origin: 0 0;
  animation: revolve 2s ease infinite; }

.l {
  left: 95%;
  bottom: 50%;
  animation: floatBlink 1s ease infinite; }

.m {
  left: 85%;
  bottom: 10%;
  animation: floatBlink 1s ease infinite; }

@keyframes floatBlink {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes revolve {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0); } }

.slogan {
  top: 15%;
  left: -300%;
  animation: enter 2s ease 1 both; }

@keyframes enter {
  0% {
    left: -300%; }
  50% {
    left: 14%;
    transform: rotate(0deg); }
  70% {
    left: 14%;
    transform: rotate(0deg); }
  100% {
    left: 14%;
    transform: rotate(360deg); } }
