@charset "UTF-8";
html {
  font-size: 100px; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"微软雅黑",sans-serif; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

.head-box {
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  left:0;
  z-index:9;
}

.head-box.hide{
  background: linear-gradient(90deg, #0092ff, #00c6ff);

}

.head-box .head {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head-box .head .logo, .head-box .head .nav {
  width: 50%;
  height: 100%;
  float: left;
}

.head-box .head .logo {
  box-sizing: border-box;
  padding:10px;
}

.head-box .head .nav {
  height: 20px;
  margin-top: 20px;
}

.head-box .head .nav li {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}

.head-box .head .nav li:hover a {
  transform: translateY(-5px);
  color: #ffcc00;
}

.head-box .head .nav li a {
  display: block;
  height: 100%;
  font-size: 20px;
  color: #fff;
  letter-spacing: .2em;
  text-align: center;
  line-height: 20px;
  transition: all .5s ease;
}

.head-box .head .last {
  border: 0 !important;
}

.head-box .head .mark {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.head-box .head .mark::after {
  content: '';
  display: block;
  clear: both;
}

.head-box .head .mark li {
  background: #ffcc00;
  width: 20%;
  height: 2px;
  float: left;
  opacity: 0;
}
.crumbs {
  width: 1200px;
  height: 60px;
  margin: 0 auto; }
  .crumbs span {
    font-size: 14px;
    line-height: 60px; }

.coop {
  display: block;
  width: 449px;
  height: 77px;
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 89px;
  background: url(../img/tongmeng.png); }

.ban {
  width: 100%;
  height: 500px;
  background: url(../img/women-banner.webp) center center no-repeat;
  background-size: cover;
  margin-bottom: 60px; }

.introduce {
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  .introduce .title {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #258dc5;
    font-size: 24px;
    box-sizing: border-box;
    padding-left: 6px;
    margin-bottom: 30px;
    border-left: 2px solid #258dc5; }
  .introduce p {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    text-indent: 2em;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px; }
  .introduce #last {
    margin-bottom: 60px; }

.case {
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  .case .title {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #258dc5;
    font-size: 24px;
    box-sizing: border-box;
    padding-left: 6px;
    margin-bottom: 30px;
    border-left: 2px solid #258dc5; }
  .case .us {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px; }
    .case .us::after {
      content: '';
      display: block;
      clear: both; }
    .case .us li {
      width: 33.33333333%;
      height: 500px;
      float: left;
      position: relative; }
      .case .us li>img, .case .us li span{
        position: absolute;
        left:0;
        top:0;
        background: rgba(37,141,197,0.5);
        width:100%;
        height:100%; }
        .case .us li div{
          height:50%;
          position: relative;
        }
        .case .us li div img, .case .us li div span{
          width: 100%;
          height: 100%; 
          position: absolute;
          top:0;
          left:0;
          background: rgba(37,141,197,0.5); }

.footer {
  width: 100%;
  height: 99px;
  background: #111622;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative; }
  .footer .title {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px; }
  .footer .logo {
    margin-top: 10px;
    width: 150px;
    margin: 0 auto; }
    .footer .logo::after {
      content: '';
      display: block;
      clear: both; }
    .footer .logo li {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 20px; }
    .footer .fade{
      width:200px;
      height:200px;
      background: red;
      position: absolute;
      bottom:50px;
      left:50%;
      margin-left: -100px; 
      display: none;
    }
    .footer .fade li{
      position: absolute;
      top:0;
      left:0;
    }
    .footer .fade li img{
      width:100%;
    }
     .footer .sub-title{
      position: absolute;
      left:50%;
      margin-left: -244px;
       height: 30px;
      text-align: center;
      line-height: 30px;
      color: #616161;
      font-size: 18px;
      letter-spacing: .3em;
      margin-bottom: 10px;
    }