@charset "UTF-8";
html {
  font-size: 100px; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"微软雅黑",sans-serif; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

.head-box {
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  left:0;
  z-index:9;
}

.head-box.hide{
  background: linear-gradient(90deg, #0092ff, #00c6ff);

}

.head-box .head {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head-box .head .logo, .head-box .head .nav {
  width: 50%;
  height: 100%;
  float: left;
}

.head-box .head .logo {
  box-sizing: border-box;
  padding:10px;
}

.head-box .head .nav {
  height: 20px;
  margin-top: 20px;
}

.head-box .head .nav li {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}

.head-box .head .nav li:hover a {
  transform: translateY(-5px);
  color: #ffcc00;
}

.head-box .head .nav li a {
  display: block;
  height: 100%;
  font-size: 20px;
  color: #fff;
  letter-spacing: .2em;
  text-align: center;
  line-height: 20px;
  transition: all .5s ease;
}

.head-box .head .last {
  border: 0 !important;
}

.head-box .head .mark {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.head-box .head .mark::after {
  content: '';
  display: block;
  clear: both;
}

.head-box .head .mark li {
  background: #ffcc00;
  width: 20%;
  height: 2px;
  float: left;
  opacity: 0;
}

.ban {
  width: 100%;
  height: 400px;
  background: url(../img/zhihuitong-banner.webp) center center no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px; }
  .ban a {
    position: absolute;
    width: 192px;
    height: 82px;
    border-radius: 6px;
    background: url(../img/main-href.png);
    top: 70%;
    left: 60%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 76px; }

.text {
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  .text .what {
    width: 100%;
    height: auto; }
    .text .what .title {
      width: 330px;
      height: 52px;
      margin: 0 auto;
      background: url(../img/zht-title.png) no-repeat;
      margin-bottom: 35px; }
    .text .what .sub-title {
      font-size: 20px;
      color: #2e2e2e;
      line-height: 1.5;
      text-align: center; }
      .text .what .sub-title span {
        color: #f83232;
        font-size: 26px; }
    .text .what .content {
      text-align: center;
      color: #222;
      margin-bottom: 65px; }
    .text .what .type {
      width: 100%;
      margin-bottom: 60px; }
      .text .what .type::after {
        content: '';
        display: block;
        clear: both; }
      .text .what .type li {
        width: 25%;
        float: left;
        height: 238px;
        background: url(../img/border.png) center center no-repeat;
        position: relative; }
        .text .what .type li img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          max-width: 212px; }

.virtue-box {
  width: 100%;
  height: 400px;
  background: #e9f9ff;
  margin-bottom: 60px; }
  .virtue-box .virtue {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 110px; }
    .virtue-box .virtue .sub-title {
      font-size: 20px;
      color: #2e2e2e;
      line-height: 1.5;
      text-align: center; }
      .virtue-box .virtue .sub-title span {
        color: #f83232;
        font-size: 26px; }
    .virtue-box .virtue .type {
      width: 100%; }
      .virtue-box .virtue .type::after {
        content: '';
        display: block;
        clear: both; }
      .virtue-box .virtue .type li {
        width: 50%;
        float: left;
        height: 207px;
        position: relative; }
        .virtue-box .virtue .type li div {
          width: 426px;
          height: 80px;
          position: absolute;
          box-sizing: border-box;
          padding-right: 50px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          left: 0;
          font-size: 20px;
          letter-spacing: .2em;
          line-height: 2; }
        .virtue-box .virtue .type li img {
          width: 64px;
          height: 60px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          right: 50px; }
      .virtue-box .virtue .type #last div {
        padding: 0;
        padding-left: 50px;
        left: 64px; }
      .virtue-box .virtue .type #last img {
        right: 406px; }
    .virtue-box .virtue .content {
      text-align: center;
      color: #222;
      margin-bottom: 60px; }

.how {
  width: 100%;
  height: auto;
  margin-bottom: 60px; }
  .how .virtue {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px; }
    .how .virtue .sub-title {
      font-size: 20px;
      color: #2e2e2e;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 10px; }
      .how .virtue .sub-title span {
        color: #f83232;
        font-size: 26px; }
    .how .virtue .content {
      text-align: center;
      color: #222;
      margin-bottom: 60px; }
    .how .virtue .show {
      width: 100%;
      height: auto; }
      .how .virtue .show ul{
        box-sizing: border-box;
        border-bottom: 2px solid #eee; }
      .how .virtue .show ul::after {
        content: '';
        display: block;
        clear: both; }
      .how .virtue .show ul li {
        float: left;
        width: 50%;
        height: 550px;
        position: relative; }
        .how .virtue .show ul li img {
          width:500px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          transition: transform .5s ease; }
        .how .virtue .show ul li div {
          width: 100%;
          height: 420px;
          top: 0;
          bottom: 0;
          box-sizing: border-box;
          padding-top: 90px;
          position: absolute;
          margin: auto; }
          .how .virtue .show ul li div h1 {
            color: #1a98c7;
            font-weight: normal;
            margin-bottom: 40px;
            font-size: 30px;
            text-align: center; }
          .how .virtue .show ul li div p {
            box-sizing: border-box;
            padding: 0 40px;
            font-size: 20px; }
      


  .floor{
    transform: translateY(100px);
    opacity:0;
    transition: all .6s ease;
  }
  .floor.active{
    transform:translateY(0);
    opacity:1
  }
  .floor2{
    transform: translateY(100px);
    opacity:0;
    transition: all .6s ease;
  }
  .floor2.active{
    transform:translateY(0);
    opacity:1
  }


.coop {
  display: block;
  width: 449px;
  height: 77px;
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 89px;
  background: url(../img/tongmeng.png) center center no-repeat; }

.footer {
  width: 100%;
  height: 99px;
  background: #111622;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative; }
  .footer .title {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px; }
  .footer .logo {
    margin-top: 10px;
    width: 150px;
    margin: 0 auto; }
    .footer .logo::after {
      content: '';
      display: block;
      clear: both; }
    .footer .logo li {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 20px; }
    .footer .fade{
      width:200px;
      height:200px;
      background: red;
      position: absolute;
      bottom:50px;
      left:50%;
      margin-left: -100px; 
      display: none;
    }
    .footer .fade li{
      position: absolute;
      top:0;
      left:0;
    }
    .footer .fade li img{
      width:100%;
    }
     .footer .sub-title{
      position: absolute;
      left:50%;
      margin-left: -244px;
       height: 30px;
      text-align: center;
      line-height: 30px;
      color: #616161;
      font-size: 18px;
      letter-spacing: .3em;
      margin-bottom: 10px;
    }
