@charset "UTF-8";
html {
    font-size: 100px;
    height:100%;
}

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, "微软雅黑", sans-serif;
}

img {
    border: 0;
}

a {
    color: #333;
}

input {
    outline: none;
}

body {
    background: url(../img/background.jpg) center center no-repeat;
    background-attachment: fixed;
    height:100%;
}

.header-box {
    width: 100%;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    z-index:9;
}

.header-box.hide{
    background: linear-gradient(90deg, #0092ff, #00c6ff);

}

.header-box .head {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header-box .head .logo, .header-box .head .nav {
    width: 50%;
    height: 100%;
    float: left;
}

.header-box .head .logo {
    box-sizing: border-box;
    padding:10px;
}

.header-box .head .nav {
    height: 20px;
    margin-top: 20px;
}

.header-box .head .nav li {
    width: 20%;
    height: 100%;
    float: left;
    border-right: 2px solid #fff;
    box-sizing: border-box;
}

.header-box .head .nav li:hover a {
    transform: translateY(-5px);
    color: #ffcc00;
}

.header-box .head .nav li a {
    display: block;
    height: 100%;
    font-size: 20px;
    color: #fff;
    letter-spacing: .2em;
    text-align: center;
    line-height: 20px;
    transition: all .5s ease;
}

.header-box .head .last {
    border: 0 !important;
}

.header-box .head .mark {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.header-box .head .mark::after {
    content: '';
    display: block;
    clear: both;
}

.header-box .head .mark li {
    background: #ffcc00;
    width: 20%;
    height: 2px;
    float: left;
    opacity: 0;
}

.banner-box {
    width: 100%;
    height:100%;
    background: linear-gradient(90deg, #0092ff, #00c6ff);
    position: relative;
}

.banner-box .dots {
    position: absolute;
}

.banner-box .dots.a {
    width: 105px;
    height: 104px;
    background: url(../img/dot1.webp);
    right: 15%;
    top: 20%;
}

.banner-box .dots.b {
    width: 285px;
    height: 170px;
    background: url(../img/dot2.webp);
    right: 15%;
    bottom: 20%;
}

.banner-box .dots.c {
    width: 312px;
    height: 210px;
    background: url(../img/dot3.webp);
    left: 30%;
    bottom: 15%;
}

.banner-box .dots.d {
    width: 39px;
    height: 39px;
    background: url(../img/dot4.webp) center center no-repeat;
    left: 15%;
    top: 15%;
}

.banner-box .dots.e {
    width: 147px;
    height: 99px;
    background: url(../img/dot5.webp) center center no-repeat;
    left: 18%;
    bottom: 30%;
}

.banner-box .dots.f {
    width: 46px;
    height: 46px;
    background: url(../img/dot6.webp) center center no-repeat;
    left: 30%;
    top: 50%;
}

.banner-box .banner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.banner-box .banner li {
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 100%;
}

.banner-box .banner li img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
}

.banner-box .banner li a {
    display: block;
    width: 192px;
    height: 82px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60%;
    border-radius: 10px;
    background: url(../img/main-href.png);
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 74px;
    letter-spacing: 0.1em;
    transition: all .4s ease ;
}
.banner-box .banner li a:hover{
    transform:scale(1.03);
}

.banner-box .lists {
    width: 96px;
    height: 12px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    bottom: 60px;
}

.banner-box .lists li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background: #fff;
    float: left;
    cursor: pointer;
}

.product-box {
    width: 100%;
    height: 530px;
    margin-top: 100px;
    background: #fff;
    transform: translateY(100px);
    opacity:0;
    transition: all .6s ease;
}
.product-box.active{
    transform:translateY(0);
    opacity:1
}

.product-box .Product {
    width: 1200px;
    height: 530px;
    margin: 0 auto;
    padding-top: 20px;
}

.product-box .title {
    border-radius: 5px;
    background: url(../img/shouye-button.png) no-repeat;
    width: 192px;
    height: 78px;
    margin: 0 auto;
}

.product-box .title div {
    width: 100%;
    height: 30%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.product-box .title .ch {
    font-size: 20px;
    letter-spacing: .1em;
}

.product-box .title .en {
    font-size: 16px;
    letter-spacing: .1em;
}

.product-box .introduce {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .3em;
}

.product-box .product {
    margin-top: 50px;
}

.product-box .product::after {
    content: '';
    display: block;
    clear: both;
}

.product-box .product li {
    width: 274px;
    height: 300px;
    float: left;
    border-radius: 10px;
    border: 1px solid #bcbcbc;
    margin-right: 34.6666666666px;
    box-sizing: border-box;
    padding: 25px 77px 0;
}

.product-box .product li a {
    display: block;
    height: 100%;
}

.product-box .product li a p {
    display: block;
    margin-bottom: 30px;
    width: 121px;
    height: 121px;
}

.product-box .product li a #idea {
    background: url(../img/chuangyi.png);
    transition: all 1s ease;
}

.product-box .product li a #plan {
    background: url(../img/cehua.png);
    transition: all 1s ease;
}

.product-box .product li a #combine {
    background: url(../img/zhenghe.png);
    transition: all 1s ease;
}

.product-box .product li a #tencent {
    background: url(../img/zhihuitong.png);
    transition: all 1s ease;
}

.product-box .product li a span {
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    letter-spacing: .3em;
    font-size: 18px;
    margin-bottom: 40px;
}

.product-box .product li a div {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: #258dc5;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 1s ease;
}

.product-box .product .last {
    margin: 0 !important;
}

.product-box .product .idea:hover #idea {
    transform: rotate(360deg);
    background-image: url(../img/chuangyi-y.png);
}

.product-box .product .idea:hover div {
    transform: rotateY(360deg);
    background: #eebe00;
}

.product-box .product .plan:hover #plan {
    transform: rotate(360deg);
    background: url(../img/cehua-y.png);
}

.product-box .product .plan:hover div {
    transform: rotateY(360deg);
    background: #eebe00;
}

.product-box .product .combine:hover #combine {
    transform: rotate(360deg);
    background: url(../img/zhenghe-y.png);
}

.product-box .product .combine:hover div {
    transform: rotateY(360deg);
    background: #eebe00;
}

.product-box .product .tencent:hover #tencent {
    transform: rotate(360deg);
    background: url(../img/zhihuitong-y.png);
}

.product-box .product .tencent:hover div {
    transform: rotateY(360deg);
    background: #eebe00;
}

.news-box {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    transform: translateY(100px);
    opacity:0;
    transition: all .6s ease;
}
.news-box.active{
    transform:translateY(0);
    opacity:1
}

.news-box > .title {
    border-radius: 5px;
    background: url(../img/shouye-button.png) no-repeat;
    width: 192px;
    height: 78px;
    margin: 0 auto;
}

.news-box .title div {
    width: 100%;
    height: 30%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.news-box .title .ch {
    font-size: 20px;
    letter-spacing: .1em;
}

.news-box .title .en {
    font-size: 16px;
    letter-spacing: .1em;
}

.news-box .show {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.news-box .show div, .news-box .show ul {
    width: 50%;
    float: left;
    height: 100%;
}

.news-box .show .left li {
    width: 33.3333333%;
    height: 50%;
    float: left;
}

.news-box .show .left li a {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.news-box .show .left li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .3s ease .1s;
}

.news-box .show .left li div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 73, 138, 0.6);
    transition: all .4s ease;
}

.news-box .show .left li div img {
    opacity:0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.news-box .show .left li div p {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: opacity .4s ease;
}

.news-box .show .left li div p .border {
    position: absolute;
    background: #fff;
    transition: all .3s ease;
}

.news-box .show .left li div p .top {
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
}

.news-box .show .left li div p .btm {
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
}

.news-box .show .left li div p .left {
    left: 0;
    bottom: 0;
    height: 0;
    width: 1px;
}

.news-box .show .left li div p .right {
    top: 0;
    right: 0;
    height: 0;
    width: 1px;
}

.news-box .show .left li div:hover .top {
    width: 100%;
}

.news-box .show .left li div:hover .btm {
    width: 100%;
}

.news-box .show .left li div:hover .left {
    height: 100%;
}

.news-box .show .left li div:hover .right {
    height: 100%;
}

.news-box .show .left li:hover  .img {
    transform: scale(1.2);
}
.news-box .show .left li:hover  .open {
    opacity:1;
}

/*.news-box .show .left li:hover div {*/
    /*background: rgba(0, 73, 138, 0.6);*/
/*}*/

.news-box .show .right {
    position: relative;
    background: url(../img/dongtai-right.jpg) center center no-repeat;
}

.news-box .show .right div {
    width: 520px;
    height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.news-box .show .right div h1 {
    width: 100%;
    height: 30px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: .1em;
}

.news-box .show .right div p {
    text-indent: 2em;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .2em;
    color: #fff;
    position: relative;
}

.news-box .show .right div p a {
    letter-spacing:0;
    background: #eebe00;
    color: #fff;
    line-height:24px;
    text-indent: 0;
    text-align: center;
    width:80px;
    height:24px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right:0

}
.news-box .show .right div p a:hover {
    background: #258dc5;
}

.news-box .show .right div ul {
    width: 100%;
    height: 140px;
    margin-top: 50px;
}

.news-box .show .right div ul li {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

.news-box .show .right div ul li a {
    position: relative;
}

.news-box .show .right div ul li a, .news-box .show .right div ul li span {
    display: block;
    height: 100%;
    font-size: 16px;
    color: #fff;
}

.news-box .show .right div ul li .dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 7px;
}

.news-box .show .right div ul li .title {
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
    line-height: 20px;
    text-align: left;
    width: 80%;
    float: left;
    letter-spacing: .1em;
}

.news-box .show .right div ul li .comefrom {
    line-height: 20px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    width: 20%;
    float: right;
    overflow: hidden;
}

.news-box .show .right div ul li:hover .title {
    color: #eebe00;
}

.news-box .show .right div ul li:hover .comefrom {
    color: #eebe00;
}

.aboutus-box {
    width: 100%;
    height: 400px;
    padding-top: 60px;
    position: relative;
}

.aboutus-box .show {
    width: 100%;
    height:auto;
    position: relative;
}

.aboutus-box .show .aboutus {
    width: 458px;
    height: 130px;
    margin:0 auto;
    font-size: 18px;
    line-height: 2;
    color: #fff;
    text-align: center;
    transform: translateY(300px);
    opacity:0;
    transition: all 1s ease;
}

.aboutus-box .show .aboutus a {
    font-weight: normal;
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    background: #eebe00;
    border-radius: 5px;
}
.aboutus-box .show .aboutus a:hover {
    background: #258dc5;
}

.coop {
    display: block;
    width: 314px;
    height: 54px;
    margin: 0 auto;
    margin-top: 40px;
    background: url(../img/tongmeng1.png) center center no-repeat;
    background-size: contain;
    transform: translateY(300px);
    opacity:0;
    transition: all 1s ease .4s;
}

.aboutus-box.active .aboutus{
    transform: translateY(0);
    opacity:1
}

.aboutus-box.active .coop{
    transform: translateY(0);
    opacity:1
}

.footer {
    width: 100%;
    height: 99px;
    background: #111622;
    padding-top: 15px;
    box-sizing: border-box;
    position: relative;
}

.footer .title {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px;
}

.footer .logo {
    margin-top: 10px;
    width: 150px;
    margin: 0 auto;
}

.footer .logo::after {
    content: '';
    display: block;
    clear: both;
}

.footer .logo li {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 20px;
}

.footer .fade {
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    display: none;
}

.footer .fade li {
    position: absolute;
    top: 0;
    left: 0;
}

.footer .fade li img {
    width: 100%;
}

.footer .sub-title {
    position: absolute;
    left: 50%;
    margin-left: -244px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px;
}






