@charset "UTF-8";
html {
  font-size: 100px; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"微软雅黑",sans-serif; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

.header-box {
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  left:0;
  z-index:9;
}

.header-box.hide{
  background: linear-gradient(90deg, #0092ff, #00c6ff);

}

.header-box .head {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header-box .head .logo, .header-box .head .nav {
  width: 50%;
  height: 100%;
  float: left;
}

.header-box .head .logo {
  box-sizing: border-box;
  padding:10px;
}

.header-box .head .nav {
  height: 20px;
  margin-top: 20px;
}

.header-box .head .nav li {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}

.header-box .head .nav li:hover a {
  transform: translateY(-5px);
  color: #ffcc00;
}

.header-box .head .nav li a {
  display: block;
  height: 100%;
  font-size: 20px;
  color: #fff;
  letter-spacing: .2em;
  text-align: center;
  line-height: 20px;
  transition: all .5s ease;
}

.header-box .head .last {
  border: 0 !important;
}

.header-box .head .mark {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.header-box .head .mark::after {
  content: '';
  display: block;
  clear: both;
}

.header-box .head .mark li {
  background: #ffcc00;
  width: 20%;
  height: 2px;
  float: left;
  opacity: 0;
}
.banner-box {
  width: 100%;
  height:400px;
  background: url(../img/meijie-banner.webp) center center;
  background-size:cover;
  position: relative; }

.product-box {
  width: 1200px;
  height: 460px;
  margin: 0 auto;
  margin-top: 60px; }
  .product-box .title {
    border-radius: 5px;
    background:url(../img/shouye-button.png) no-repeat;
    width: 192px;
    height: 78px;
    margin: 0 auto; }
    .product-box .title div {
      width: 100%;
      height: 30%;
      text-align: center;
      line-height: 30px;
      color: #fff; }
    .product-box .title .ch {
      font-size: 20px;
      letter-spacing: .5em; }
    .product-box .title .en {
      font-size: 16px;
      letter-spacing: .1em; }
  .product-box .introduce {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .3em; }
  .product-box .product {
    margin-top: 50px; }
    .product-box .product::after {
      content: '';
      display: block;
      clear: both; }
    .product-box .product li {
      width: 274px;
      height: 230px;
      float: left;
      border-radius: 10px;
      border: 1px solid #bcbcbc;
      margin-right: 34.6666666666px;
      box-sizing: border-box;
      padding-top: 25px; }
      .product-box .product li a {
        display: block;
        height: 100%; }
        .product-box .product li a p {
          display: block;
          margin:0 auto;
          margin-bottom: 30px;
          width: 121px;
          height: 121px; }
         .product-box .product li a #idea {
          background: url(../img/meijie2.png);
          transition: all 1s ease; }
        .product-box .product li a #plan {
          background: url(../img/meijie3.png);
          transition: all 1s ease; }
        .product-box .product li a #combine {
          background: url(../img/meijie6.png);
          transition: all 1s ease; }
        .product-box .product li a #tencent {
          background: url(../img/zhihuitong.png);
          transition: all 1s ease; }
        .product-box .product li a span {
          display: block;
          width: 100%;
          height: 30px;
          text-align: center;
          line-height: 30px;
          letter-spacing: .3em;
          font-size: 18px;
          margin-bottom: 40px; }
        .product-box .product li a div {
          width: 100px;
          height: 30px;
          margin: 0 auto;
          background: #258dc5;
          font-size: 20px;
          color: #fff;
          border-radius: 5px;
          text-align: center;
          line-height: 30px;
          transition: all 1s ease; }
    .product-box .product .last {
      margin: 0 !important; }
    .product-box .product .idea:hover #idea {
      transform: rotate(360deg);
      background-image: url(../img/meijie1.png); }
    .product-box .product .plan:hover #plan {
      transform: rotate(360deg);
      background: url(../img/meijie4.png); }
    .product-box .product .combine:hover #combine {
      transform: rotate(360deg);
      background: url(../img/meijie5.png); }
    .product-box .product .tencent:hover #tencent {
      transform: rotate(360deg);
      background: url(../img/zhihuitong-y.png); }

.news-box {
  width: 100%;
  height: 626px;
  margin: 0 auto;
  margin-top: 60px;
  position: relative; }
  .news-box .title {
    border-radius: 5px;
    background:url(../img/shouye-button.png) no-repeat;
    width: 192px;
    height: 78px;
    margin: 0 auto;}
    .news-box .title div {
      width: 100%;
      height: 30%;
      text-align: center;
      line-height: 30px;
      color: #fff; }
    .news-box .title .ch {
      font-size: 20px;
      letter-spacing: .5em; }
    .news-box .title .en {
      font-size: 16px;
      letter-spacing: .1em; }
  .news-box .show {
    width: 100%;
    height: 500px;
    margin-top:50px; }
    .news-box .show div {
      width: 50%;
      float: left;
      height: 100%; }
    .news-box .show .left {
      background: url(../img/dongtai-left1.jpg) center center no-repeat; }
      .news-box .show .left:hover {
        background: url(../img/dongtai-left2.jpg) center center no-repeat; }
    .news-box .show .right {
      background: url(../img/dongtai-right.jpg) center center no-repeat; }
      .news-box .show .right div {
        width: 520px;
        height: 200px;
        margin-top: 150px;
        margin-left: 50px; }
        .news-box .show .right div h1 {
          width: 100%;
          height: 30px;
          font-weight: normal;
          font-size: 24px;
          text-align: center;
          color: #fff;
          margin-bottom: 40px;
          letter-spacing: .1em; }
        .news-box .show .right div p {
          text-indent: 2em;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: .2em;
          color: #fff; }
          .news-box .show .right div p a {
            letter-spacing: 0;
            border-radius: 5px;
            padding: 0 5px;
            background: #eebe00;
            color: #fff; }

.aboutus-box {
  width: 100%;
  height: 626px;
  margin: 0 auto;
  margin-top: 60px;
  position: relative; }
  .aboutus-box .title {
    border-radius: 5px;
    background:url(../img/shouye-button.png) no-repeat;
    width: 192px;
    height: 78px;
    margin: 0 auto;}
    .aboutus-box .title div {
      width: 100%;
      height: 30%;
      text-align: center;
      line-height: 30px;
      color: #fff; }
    .aboutus-box .title .ch {
      font-size: 20px;
      letter-spacing: .5em; }
    .aboutus-box .title .en {
      font-size: 16px;
      letter-spacing: .1em; }
  .aboutus-box .show {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background: url(../img/abouts.webp);
    position: relative; }
    .aboutus-box .show .aboutus {
      width: 458px;
      height: 250px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 18px;
      line-height: 2;
      color: #fff; }
      .aboutus-box .show .aboutus a {
        font-weight: normal;
        display: block;
        width: 110px;
        height: 30px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 30px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
        background: #eebe00;
        border-radius: 5px; }

.coop {
  display: block;
  width: 449px;
  height: 77px;
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 89px;
  background: url(../img/tongmeng.png) no-repeat; }

.footer {
  width: 100%;
  height: 99px;
  background: #111622;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative; }
  .footer .title {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px; }
  .footer .logo {
    margin-top: 10px;
    width: 150px;
    margin: 0 auto; }
    .footer .logo::after {
      content: '';
      display: block;
      clear: both; }
    .footer .logo li {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 20px; }
    .footer .fade{
      width:200px;
      height:200px;
      background: red;
      position: absolute;
      bottom:50px;
      left:50%;
      margin-left: -100px; 
      display: none;
    }
    .footer .fade li{
      position: absolute;
      top:0;
      left:0;
    }
    .footer .fade li img{
      width:100%;
    }
        .footer .sub-title{
      position: absolute;
      left:50%;
      margin-left: -244px;
       height: 30px;
      text-align: center;
      line-height: 30px;
      color: #616161;
      font-size: 18px;
      letter-spacing: .3em;
      margin-bottom: 10px;
    }
