@charset "UTF-8";
html {
  font-size: 100px; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"微软雅黑",sans-serif; }

img {
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

.head-box {
  width: 100%;
  height: 60px;
  position: fixed;
  top:0;
  left:0;
  z-index:99999;
  background: linear-gradient(90deg, #0092ff, #00c6ff);
}


.head-box .head {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head-box .head .logo, .head-box .head .nav {
  width: 50%;
  height: 100%;
  float: left;
}

.head-box .head .logo {
  box-sizing: border-box;
  padding:10px;
}

.head-box .head .nav {
  height: 20px;
  margin-top: 20px;
}

.head-box .head .nav li {
  width: 20%;
  height: 100%;
  float: left;
  border-right: 2px solid #fff;
  box-sizing: border-box;
}

.head-box .head .nav li:hover a {
  transform: translateY(-5px);
  color: #ffcc00;
}

.head-box .head .nav li a {
  display: block;
  height: 100%;
  font-size: 20px;
  color: #fff;
  letter-spacing: .2em;
  text-align: center;
  line-height: 20px;
  transition: all .5s ease;
}

.head-box .head .last {
  border: 0 !important;
}

.head-box .head .mark {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.head-box .head .mark::after {
  content: '';
  display: block;
  clear: both;
}

.head-box .head .mark li {
  background: #ffcc00;
  width: 20%;
  height: 2px;
  float: left;
  opacity: 0;
}

.banner-box {
  width: 1260px;
  height: 200px;
  padding-top: 90px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
  .banner-box .banner {
    height: 200px; }
    .banner-box .banner li {
      float: left;
      width: 25%;
      height: 200px; }
      .banner-box .banner li a {
        display: block;
        position: relative; }
        .banner-box .banner li a img {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto; }
        .banner-box .banner li a .mask {
          z-index: 2; }
    .banner-box .banner .left, .banner-box .banner .right {
      width: 40px;
      height: 110px;
      position: absolute;
      z-index: 99;
      bottom: 0;
      top: 60px;
      margin: auto 0;
      cursor: pointer; }
    .banner-box .banner .left {
      left: 10px;
      background: url(../img/arrow-left.png) center center no-repeat; }
    .banner-box .banner .right {
      right: 10px;
      background: url(../img/arrow-right.png) center center no-repeat; }

.inner {
  width: 100%;
  height: 1270px;
  margin-top: 30px;
  background: url(../img/dongtai-beijing.webp) no-repeat center center;
  background-size: contain;
  position: relative; }
  .inner .article-box {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
     }
    .inner .article-box .article{
      width:1000px;
      height:750px;
      position: absolute;
    }
    .inner .article-box h1 {
      font-size: 26px;
      color: #fff;
      line-height: 2.5;
      text-align: center;
      margin-top: 30px; 
      margin-bottom: 15px; }
    .inner .article-box p {
      font-size: 18px;
      line-height: 1.8;
      letter-spacing: .1em;
      text-indent: 2em;
      color: #fff;
      margin-bottom:20px; }

.coop {
  display: block;
  width: 449px;
  height: 77px;
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 89px;
  background: url(../img/tongmeng.png); }

.footer {
  width: 100%;
  height: 99px;
  background: #111622;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative; }
  .footer .title {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #616161;
    font-size: 18px;
    letter-spacing: .3em;
    margin-bottom: 10px; }
  .footer .logo {
    margin-top: 10px;
    width: 150px;
    margin: 0 auto; }
    .footer .logo::after {
      content: '';
      display: block;
      clear: both; }
    .footer .logo li {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 20px; }
    .footer .fade{
      width:200px;
      height:200px;
      background: red;
      position: absolute;
      bottom:50px;
      left:50%;
      margin-left: -100px; 
      display: none;
    }
    .footer .fade li{
      position: absolute;
      top:0;
      left:0;
    }
    .footer .fade li img{
      width:100%;
    }
        .footer .sub-title{
      position: absolute;
      left:50%;
      margin-left: -244px;
       height: 30px;
      text-align: center;
      line-height: 30px;
      color: #616161;
      font-size: 18px;
      letter-spacing: .3em;
      margin-bottom: 10px;
    }