html{
  font-size: 100px;
  width:100%;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, input, img, a, ul, h1, h2, h3, h4, h5, h6, p, li, i, em, b, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  font-family: Helvetica,"microsoft yahei",sans-serif;
  box-sizing: border-box; }

img {
  outline-width: 0px;
  vertical-align: top;
  border: 0; }

a {
  color: #333; }

input {
  outline: none; }

@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 64.6875px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 64.375px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 58.59375px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 56.25px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }


body {
  width:100%;
  overflow-x: hidden;
  background: #424242; }

.slide-bar {
  padding-top: 1rem;
  position: fixed;
  z-index: 99;
  width: 50%;
  height: 100%;
  background: #424242;
  top: 0;
  right: -50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .slide-bar div {
    width: 100%;
    height: 1rem;
    text-align: center;
    border-bottom: 1px solid #e6e6e6; }
    .slide-bar div a {
      display: block;
      height: 100%;
      color: #fff;
      line-height: 1rem;
      font-size: .3rem; }

.body {
  width:100%;
  position: relative;
  background: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-origin: 100% 20%;
  -moz-transform-origin: 100% 20%;
  -ms-transform-origin: 100% 20%;
  -o-transform-origin: 100% 20%;
  transform-origin: 100% 20%; }

.slide-bar.move {
  right: 0; }

.body.move {
  -webkit-transform: translateX(-50%) scale(0.9);
  -moz-transform: translateX(-50%) scale(0.9);
  -ms-transform: translateX(-50%) scale(0.9);
  -o-transform: translateX(-50%) scale(0.9);
  transform: translateX(-50%) scale(0.9); }

.head {
  width: 100%;
  padding: 0 .24rem;
  height: 1rem; }
  .head li {
    height: 100%; }
    .head li:nth-child(1) {
      width: 2.3rem;
      float: left; }
      .head li:nth-child(1) img {
        display: block;
        width: 100%;
        margin-top: .19rem; }
    .head li:nth-child(2) {
      width: .36rem;
      height: .36rem;
      float: right;
      margin-top: .32rem;
      margin-right: .3rem; }
      .head li:nth-child(2) img {
        width: 100%; }

.swiper-container {
  width: 100%;
  height: 3rem; }
  .swiper-container img {
    width: 100%; }

.swiper-pagination .swiper-pagination-bullet {
  width: .15rem;
  height: .15rem;
  background: #fff;
  opacity: .6;
  border-radius: .1rem;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: .3rem;
  opacity: 1; }

h1 {
  width: 5.9rem;
  height: .78rem;
  margin: auto;
  font-size: .3rem;
  line-height: .78rem;
  border-bottom: .02rem solid #e6e6e6;
  color: #ff9a0e;
  font-weight: normal; }

.message {
  width: 5.9rem;
  height: 1.66rem;
  margin: 0 auto;
  border-bottom: .02rem solid #e6e6e6;
  padding: .2rem 0; }
  .message div {
    float: left;
    width: 2.02rem;
    height: 1.24rem;
    border-radius: 4px; }
    .message div img {
      width: 100%; }
  .message p {
    width: 3.6rem;
    color: #4e4e4e;
    font-size: .24rem;
    line-height: 1.5;
    float: right;
    margin-top: .26rem; }

.ad {
  display: block;
  width: 100%;
  height: 1.5rem;
  margin-top: .2rem; }
  .ad img {
    width: 100%; }

.type {
  width: 5.9rem;
  margin: 0 auto;
  margin-bottom: .2rem; }
  .type::after {
    content: '';
    display: block;
    clear: both; }
  .type li {
    margin-top: .2rem;
    width: 2.85rem;
    height: 2.5rem;
    float: left;
    position: relative; }
    .type li:nth-child(2n-1) {
      margin-right: .2rem; }
    .type li img {
      width: 100%;
      height: 100%; }
    .type li p {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: .4rem;
      background: rgba(0, 0, 0, 0.5);
      font-size: .24rem;
      color: #fff;
      text-align: center;
      line-height: .4rem; }

.footer {
  width: 100%; }
  .footer::after {
    content: '';
    display: block;
    clear: both; }
  .footer li {
    height: .6rem; }
    .footer li:last-child {
      border: 0; }
    .footer li a {
      display: block;
      height: 100%;
      font-size: .3rem;
      line-height: .6rem;
      text-align: center;
      color: #7f7f7f;
      background: #383838; }
